/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/
/* min-width 1430 */
@media (min-width: 1430px) {
}
/* max-width 1399 */
@media (max-width: 1399.98px) {
}
/* max-width 1199 */
@media (max-width: 1199.98px) { 

    /* header offcanvas section start */
    .main-menu-area .col:nth-child(1) {
        max-width: 240px;
        flex-basis: 240px;
    }
    .list-title, .main-menu-wrapper li a {
        font-size: 28px;
    }
    .industries-list-wrapper li a {
        font-size: 20px;
    }
    .main-menu-area .col:nth-child(2) {
        flex-basis: 450px;
        max-width: 450px;
    }
    .industries-list {
        max-width: 370px;
    }
    .contact-list {
        padding-left: 36px;
    }
    .main-menu-wrapper li {
        margin-bottom: 20px;
    }
    /* header offcanvas section start */
}
/* max-width 1399 - min-width 992*/
@media (max-width: 1199.98px) and (min-width: 992px) {
}
/* max-width 991 */
@media (max-width: 991.98px) {
   
}
/* max-width 767 */
@media (max-width: 767.98px) { 
}
/* max-width 575 */
@media (max-width: 575.98px) {
  
}
/* max-width 479 */
@media (max-width: 479.98px) {
 
  
}
/* max-width 383 */
@media (max-width: 383.98px) {
  
}
